@model NW_GridSight.ViewModels.DashboardViewModel

@*
    ViewData["Title"] = "Dashboard";
*@
@{
}

<h1>NW-GridSight Dashboard</h1>
<p><strong>Last Updated:</strong> @Model.LastUpdatedUtc.ToString("yyyy-MM-dd HH:mm") UTC</p>

<h2>Pacific Northwest Generation Summary</h2>
<p>Hyrdo accounts for @Model.HydroPercentage% of total generation.</p>

<div class="row mb-4">
    <div class="col-md-3">
        <div class="card p-3">
            <h5>Total Generation</h5>
            <h3>@Model.TotalGenerationMegawatts MW</h3>
        </div>
    </div>

    @foreach (var item in Model.PowerSourceSummaries)
    {
        var isTopSource = item.PowerSource == Model.TopSource;

        <div class="col-md-3 mb-3">
            <div class="card p-3 @(isTopSource ? "border-primary shadow" : "")">
                <h5>@item.PowerSource</h5>
                <h3>@item.GenerationMegawatts MW</h3>
            </div>
        </div>
    }
</div>